@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background: #151f28;
  color: #fff;
  a{
    text-decoration: underline;
    color: #e7c0cd;
  }
}
.square
{
  position: relative;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square i
{
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}
.square i:nth-child(1)
{
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.square i:nth-child(2)
{
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.square i:nth-child(3)
{
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.square:hover i
{
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}
@keyframes animate2
{
  0%
  {
    transform: rotate(360deg);
  }
  100%
  {
    transform: rotate(0deg);
  }
}
.log
{
  position: absolute;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}
.log h2 
{
  font-size: 2em;
  color: #fff;
}
.log .inputBx 
{
  position: relative;
  width: 100%;
}
.log .inputBx input 
{
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.2em;
  color: #fff;
  font-weight: bold;
  box-shadow: none;
  outline: none;
}
.log .inputBx input[type="submit"]
{
  font-weight: bold;
  width: 100%;
  background: linear-gradient(135deg, #312e81, #c2185b);
  border: none;
  cursor: pointer;
}
.log .inputBx input::placeholder 
{
  color: rgba(255,255,255,0.75);
}
.log .links
{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #fff;
}
.links a 
{
  color: #e7c0cd;
  text-decoration: underline;
}
.log .links p
{
  color: #fff;;
  text-decoration: none;
}